.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(198, 51, 15, 0.3);
    height: 100%;
    width: 100%;
    transition: .25s all ease;
    opacity: 0;
    visibility: hidden;
}

.loading.active {
    opacity: 1;
    visibility: visible;
}